HARPI_DATABASE_URL=postgresql+psycopg://harpisense:harpisense@localhost:5432/harpisense
HARPI_APP_NAME=HarpiSense Backend
HARPI_ENVIRONMENT=local
HARPI_ADMIN_USERNAME=admin
HARPI_ADMIN_PASSWORD=change-me-local-only
HARPI_GATEWAY_USERNAME=harpisense.gateway.edge-1
HARPI_GATEWAY_PASSWORD=change-me-gateway-local-only
HARPI_MQTT_ENABLED=false
HARPI_MQTT_HOST=localhost
HARPI_MQTT_PORT=1883
HARPI_MQTT_USERNAME=harpisense_backend_consumer
HARPI_MQTT_PASSWORD=change-me-mqtt-local-only
HARPI_MQTT_TELEMETRY_TOPIC=harpisense/v1/telemetry/+/+
